@page "/events"
@inject EventEaseApp.Data.EventService EventService

<h2>Eventos disponibles</h2>

<div class="event-list">
    @foreach (var ev in EventService.GetEvents())
    {
        <EventCard Event="ev" />
    }
</div>